.header {
  grid-column: 3 / span 4;
  grid-row: 1 / 2;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-grey-light, 0.5),
      rgba($color-grey-dark-1, 0.5)
    ),
    url(/static/blog/img/image-slider-1.jpg);
  background-size: cover;
  display: grid;
  justify-items: center;
  align-items: center;
  p {
    font-size: 2.25rem;
    color: $color-black;
    font-weight: 400;
    letter-spacing: 4px;
    span {
      color: $color-primary;
      font-weight: 600;
    }
  }
}
