.main {
  grid-column: 3 / span 3;
  grid-row: 2 / 3;
  color: $color-grey-light;
}

.footer {
  background-color: $color-white;
  color: $color-grey-light;
  font-family: $font-primary;
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 2px;
  grid-column: 3 / span 4;
  grid-row: 4 / -1;
  padding: 4rem;
}
