.heading-1 {
  font-size: 4.5rem;
  text-transform: uppercase;
  color: $color-grey-dark;
}

.heading-2 {
  font-family: $font-secondary;
  font-size: 3.5rem;
  text-transform: uppercase;
  color: $color-grey-light;
  a {
    text-decoration: none;
    color: $color-grey-dark;
    transition: all 0.3s;
    &:hover {
      color: $color-primary;
    }
  }
}
