{%load blog_tags%}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet">
<link  rel="shortcut icon" type="image/png" href="{% static 'blog/img/favicon.png' %}">
<link rel="stylesheet" href="{% static 'blog/css/style.css' %}">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body class="container">
    <header class="header">
        <h1 class="heading-1">MAECENAS CONSECTETUR</h1>
        <p>Lorem <span>ipsum dolor</span> sit amet</p>
    </header>
    <main class="main">
        <article>
             <section >
                    {% block content %}{% endblock content %}
            </section>  
        </article>             
    </main>
    {% include 'blog/pagination.html' with page=posts%}
    <aside class="sidebar">
        <h2 class="heading-2">My blog</h2>
        <p>This is my blog. I've written {%total_posts%} posts so far.</p>
        <h3>Latest posts</h3>
        {%show_latest_posts 3%}
        <h3>Most commented posts</h3>
        <ul>
            {%  get_most_commented_posts as most_commented_posts %}
            {% for post in most_commented_posts %}
               <li> <a href="{{post.get_absolute_url}}">{{post.title}}</a></li> 
            {% endfor %}
        
        </ul>
        
    </aside>
    <footer class="footer">
        Created by Osama Makhlouph Copyright © 2022. All Rights Reserved
    </footer>
    <!--nav/-->
</body>
</html>